Package: com.hhly.iostargetapphhly
Name: iostargetapphhly
Depends: 
Architecture: iphoneos-arm
Description: ByCXF160523!xinsaisai!
Maintainer: esirnus
Author: esirnus
Section: Utilities
Version: 0.0.1-9+debug
Installed-Size: 140
